<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ProyectosAXL
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/calcu" routerDirection="forward">
        Calculadora
      </ion-button>
      <ion-button routerLink="/conversor" routerDirection="forward">
        Conversor
      </ion-button>
      <ion-button routerLink="/quiz" routerDirection="forward">
        Quiz
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Maestro este es un proyecto que cree en mi compu por eso esta medio vacio y sin chiste <br> por andar en el lab5 con las cosas del integrador se me paso pasar esa carpeta</strong>
    <p>Pero aca estan los trabajos que dejo.</p>
  </div>
</ion-content>
